#chessboard{
    display: grid;
    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(8,80px);
    width: 640px;
    height: 640px;
}

.tile{
    width: 80px;
    height: 80px;
}

.black-tile{
    background-color: #B58863;
}

.white-tile{
    background-color: #F0D9B5;
}

.selected{
    background-color:rgb(190, 110, 110);
   
}

.valid-move {
    background-color: lightgreen;
}